<html>
    <head>
        <title>New post</title>
    </head>
    <body>
        <form action="/write" method="post">
            <label for="Owner">Title</label>
            <br>
            <input type="text" name = "owner" id = "Owner">
            <br>
            <br>
            <label for="house">Appartment</label>
            <br>
            <input type="text" name = "house" id = "house">
            <br><br>
            <label for="job">Job</label>
            <br>
            <input type="text" name = "job" id = "job">
            <br><br>
            <a href = "delete">Delete</a>
            <br><br>
            <button>Send</button>
        </form>
    </body>
</html>